body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fbd3e9, #bb377d);
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center;
  color: white;
}

.heart {
  width: 80px;
  height: 80px;
  background: #ff4d6d;
  position: relative;
  transform: rotate(-45deg);
  animation: beat 1s infinite;
  margin: 30px auto;
}

.heart::before,
.heart::after {
  content: "";
  width: 80px;
  height: 80px;
  background: #ff4d6d;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -40px;
  left: 0;
}

.heart::after {
  left: 40px;
  top: 0;
}

@keyframes beat {
  0%, 100% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(-45deg);
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  opacity: 0.9;
}
fu{
    font-size:4rem;
    margin-top:0.5;
}
